*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}
body{
    font-family: cursive;
    color: yellowgreen;
    padding-bottom: 50px;
    background-color: yellowgreen;
}
.container{
    max-width: 1200px;
}
.nav{
    background-color: rgb(238, 241, 16);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.5s ease-in-out;
}
.nav .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav a{
    color: rgb(30, 26, 31);
    text-decoration: none;
    padding: 15px;
    transition: all 0.5s ease-in-out;
}
.nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.nav h1{
    font-size: 50px;
    color: rgb(192, 192, 46);
    font-family: cursive;
}
.nav li:hover{
    color: rgb(0, 47, 255);
    background-color: white;
}
.sample{
    background-image: url(ba.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: black;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
}
.sample h1{
    font-family: cursive;
    font-size: 50px;
    color: antiquewhite;
    text-align: center;
}
p{
    font-family: cursive;
    font-size: 40px;
    letter-spacing: 2px;
    color: rgb(12, 11, 11);
}
.content h2{font-size: 50px;
font-family: cursive;
color: whitesmoke;}
.content p{font-size: 30px;
font-family: cursive;
color: rgb(68, 70, 68);}

.nav.active{
    background-color: black;
}
.nav.active a{
    color: rgb(238, 241, 16);
    font-family: cursive;
}
.nav.active .container{
    padding: 10px;
}
